<div class="modal">
    <div class="auth-form">
        <div class="auth-form__container">
            <div class="auth-form__header">
                <h3 class="auth-form__heading">Đăng nhập</h3>
                <a class="auth-form__switch-btn" href="/user/signup">Đăng ký</a>
            </div>

            <form class="auth-form__form" action="/user/login" id="login_form" method="POST">
                <div alert type>
                    <% if(typeof message !="undefined" && message) { %>
                        <strong>
                            <%= message %>
                        </strong>
                        <% } %>
                </div>
                <div class="auth-form__group">
                    <input type="email" class="auth-form__input" id="email" name="email" placeholder="Email">
                </div>
                <div class="auth-form__group">
                    <input type="password" class="auth-form__input" id="password" name="password"
                        placeholder="Mật khẩu">
                </div>

                <div class="auth-form__aside">
                    <div class="auth-form__help">
                        <a href="/user/forgot" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                        <span class="auth-form__help-separate"></span>
                        <input class="keep-logged-in-checkbox" type="checkbox" id="keepLoggedIn" name="keepLoggedIn">
                        <label for="keepLoggedIn" class="auth-form__help-link auth-form__help-forgot">Duy trì đăng
                            nhập? </label>
                    </div>

                    <div class="auth-form__controls">
                        <button class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </div>

            </form>


            <div class="auth-form__controls">
                <a class="btn auth-form__controls-back" href="/">TRỞ LẠI</a>
            </div>
        </div>

        <div class="auth-form__socials">
            <a href="" class="auth-form__socials--facebook btn btn--btn-size-s btn--with-icon">
                <i class="auth-form__socials-icon fa-brands fa-facebook-square"></i>
                <span class="auth-form__socials-title">Kết nối với Facebook</span>
            </a>
            <a href="" class="auth-form__socials--google btn btn--btn-size-s btn--with-icon">
                <i class="auth-form__socials-icon fa-brands fa-google"></i>
                <span class="auth-form__socials-title">Kết nối với Google</span>
            </a>
        </div>
    </div>
</div>