<div class="modal">
    <div class="auth-form">
        <div class="auth-form__container">
            <div class="auth-form__header">
                <h3 class="auth-form__heading">Đăng ký</h3>
                <a class="auth-form__switch-btn" href="/user/login">Đăng nhập</a>
            </div>

            <form class="auth-form__form" action="/user/signup" id="signup_form" method="POST">
                <div alert type>
                    <% if(typeof message !="undefined" && message) { %>
                        <strong>
                            <%= message %>
                        </strong>
                        <% } %>
                </div>
                <div class=" auth-form__group">
                    <input type="text" class="auth-form__input" id="email" name="email"
                        placeholder="Email là tên người dùng">
                </div>
                <div class="auth-form__group">
                    <input type="password" class="auth-form__input" id="password" name="password"
                        placeholder="Mật khẩu">
                </div>
                <div class="auth-form__group">
                    <input type="password" class="auth-form__input" id="confirmedPassword" name="confirmedPassword"
                        placeholder="Nhập lại mật khẩu">
                </div>

                <div class="auth-form__controls">
                    <button class="btn btn--primary">ĐĂNG KÝ</button>
                </div>
            </form>

            <div class="auth-form__aside">
                <p class="auth-form__policy-text">
                    Bằng việc đăng ký, bạn đã đồng ý với Rentee về
                    <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                    <a href="" class="auth-form__text-link">Chính sách bảo mật</a>
                </p>
            </div>

            <div class="auth-form__controls">
                <a class="btn auth-form__controls-back" href="/">TRỞ LẠI</a>
            </div>
        </div>

        <div class="auth-form__socials">
            <a href="" class="auth-form__socials--facebook btn btn--btn-size-s btn--with-icon">
                <i class="auth-form__socials-icon fa-brands fa-facebook-square"></i>
                <span class="auth-form__socials-title">Kết nối với Facebook</span>
            </a>
            <a href="" class="auth-form__socials--google btn btn--btn-size-s btn--with-icon">
                <i class="auth-form__socials-icon fa-brands fa-google"></i>
                <span class="auth-form__socials-title">Kết nối với Google</span>
            </a>
        </div>
    </div>
</div>