.cart-item img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-gray-100);
}

.cart-item {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: var(--space-4);
    margin: var(--space-4) 0;
    border-radius: var(--border-radius-medium);
}

.cart-item h2 {
    font-size: 1rem;
    margin: 0;
}



.cart-item {
    flex-direction: row;
    justify-content:flex-start;
}
.cart-item-info {
    font-size: 1rem;
    margin-left: var(--space-8);
    justify-content:space-between;

}

.cart-item a {
    align-items: center;
    display: flex;
    justify-content:space-between;
}

#trash {
    height: 50%;
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    background-color: var(--rentee-color);
    color: var(--white);
    border: 1px solid var(--blue-pastel);
    border-radius: var(--border-radius-small);
    margin-top: var(--space-4);
    margin-left: 5rem;
}

#trash:hover,
#trash:active{
  background-color: var(--blue-pastel);
  border-color: var(--blue-pastel);
}

@media (min-width: 48rem) {
    #trash {
        height: 50%;
        cursor: pointer;
        font: inherit;
        padding: var(--space-2) var(--space-6);
        background-color: var(--rentee-color);
        color: var(--white);
        border: 1px solid var(--blue-pastel);
        border-radius: var(--border-radius-small);
        margin-top: var(--space-4);
        margin-left: 35%;
    }
}
