.cart-item img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-gray-100);
}

.cart-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: var(--space-4);
    margin: var(--space-4) 0;
    border-radius: var(--border-radius-medium);
}

.cart-item h2 {
    font-size: 1rem;
    margin: 0;
}

.cart-item-info {
    font-size: 1rem;
    margin-left: var(--space-8);
    justify-content:space-between;

}

.cart-item a {
    align-items: center;
    display: flex;
    justify-content:space-between;
}
@media (min-width: 40rem) {
    .cart-item {
        flex-direction: row;
        justify-content:flex-start;
    }
}