<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng dẫn thuê đồ</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng dẫn cho thuê đồ</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Thanh toán</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Vận chuyển</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trả hàng & Hoàn tiền</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chăm sóc khách hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách bảo hành</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Về Rentee</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Giới thiệu</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Tuyển dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Điều khoản</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách bảo mật</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính hãng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Kênh người bán</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Flash sales</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chương trình tiếp thị</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Liên hệ với truyền thông</a>
                    </li>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Danh mục</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Sắc đẹp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Thời trang nam</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Thời trang nữ</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Máy tính & Laptop</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Phụ kiện</a>
                    </li>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Theo dõi chúng tôi</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>

            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Tải ứng dụng Rentee</h3>
                <div class="footer__download">
                    <img src="./assets/img/qr_code.png" alt="QR Download" class="footer__download-qr">
                    <div class="footer__download-apps">
                        <a href="" class="footer__download-app-link">
                            <img src="./assets/img/chplay.png" alt="Google Play" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link">
                            <img src="./assets/img/app_store.png" alt="AppStore" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid">
            <p class="footer__copyright">© 2022 Rentee. Tất cả các quyền được bảo lưu.</p>
        </div>
    </div>
</footer>