<div class="app__container">
    <div class="grid">
        <div class="grid__row app__content">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        <i class="category__heading-icon fa-solid fa-list"></i>
                        Danh Mục
                    </h3>

                    <ul class="category-list">
                        <% for(let i=0; i < categories.length; i++) { %>
                            <li class="category-item category-item--active">
                                <a href="" class="category-item__link">
                                    <%= categories[i].name %>
                                </a>
                            </li>
                            <%} %>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
                <div class="home-filter">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <button class="home-filter__btn btn">Phổ biến</button>
                    <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                    <button class="home-filter__btn btn">Thuê nhiều</button>

                    <!-- <div class="select-input">
                        <span class="select-input__label">Giá</span>
                        <i class="select-input__icon fa-solid fa-angle-down"></i>

                        <ul class="select-input__list">
                            <li class="select-input__item">
                                <a href="" class="select-input-link">Giá: Thấp đến cao</a>
                            </li>
                            <li class="select-input__item">
                                <a href="" class="select-input-link">Giá: Cao đến thấp</a>
                            </li>
                        </ul>
                    </div> -->

                    <div class="home-filter__page">
                        <span class="home-filter__page-num">
                            <span class="home-filter__page-current">1</span>/14
                        </span>

                        <div class="home-filter__page-control">
                            <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                                <i class="home-filter__page-icon fa-solid fa-angle-left"></i>
                            </a>
                            <a href="" class="home-filter__page-btn">
                                <i class="home-filter__page-icon fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="home-product">
                    <div class="grid__row">
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/8c1bc3ca73f4ee1e4874dd4acc89a1e1_tn);">
                                </div>
                                <h4 class="home-product-item__name">Quần Tây Âu Nam MANDO Ống Côn Công Sở 2 Màu
                                    Đen Be Form Đứng Kiểu Dáng Basic Lịch Lãm Trẻ Trung Hàn Quốc QKN020</h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-current">135.000đ</span>
                                </div>

                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/bc2eb04e6258c2c724481689f212d887_tn);">
                                </div>
                                <h4 class="home-product-item__name">Áo Blazer Nam Tay Lỡ MANDO Form Rộng Kiểu
                                    Dáng Thời Trang Hàn Quốc Basic Họa Tiết Thêu Would You AVH002</h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">380.000đ</span> -->
                                    <span class="home-product-item__price-current">265.000đ</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>

                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/63c67cc053d5d7b283f025e30cb1cd4f_tn);">
                                </div>
                                <h4 class="home-product-item__name">Áo Sơ Mi Nam Trơn MANDO Cổ Tàu Form Rộng Vải
                                    Đũi Dài Tay Kiểu Dáng Basic Thời Trang Hàn Quốc ACT01</h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-current">249.000đ</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/c0a9904d8ff071acdfe19329def2f760_tn);">
                                </div>
                                <h4 class="home-product-item__name">Áo Sơ Mi Caro Nam MANDO Form Rộng Chất Vải
                                    Dạ Mỏng Dài Tay Kiểu Dáng Basic Unisex Thời Trang Hàn Quốc ACB96</h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">350.000đ</span> -->
                                    <span class="home-product-item__price-current">239.000đ</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/58b240515a6c643d92b1873ca865a52f_tn);">
                                </div>
                                <h4 class="home-product-item__name">Áo Phông Áo Thun Nam MANDO Trơn Cotton Kiểu
                                    Dáng Basic Phong Cách Thời Trang Hàn Quốc APT01</h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">179.000đ</span> -->
                                    <span class="home-product-item__price-current">149.000đ</span>
                                </div>
                                <!-- <div class="home-product-item__action">
                                    <span class="home-product-item__like home-product-item__like--liked">
                                        <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                        <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Đã bán 11,5k</span>
                                </div> -->
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                                <!-- <div class="home-product-item__favourite">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <div class="home-product-item__sale-off-percent">17%</div>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div> -->
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/b67723c59592615d748ac994956e6b0e_tn);">
                                </div>
                                <h4 class="home-product-item__name">[2022]Quần Tây Quần Âu Nam MANDO Công Sở Cao
                                    Cấp Ống Côn Form Đứng Basic Unisex Thời Trang Hàn Quốc QAN01</h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">179.000đ</span> -->
                                    <span class="home-product-item__price-current">149.000đ</span>
                                </div>
                                <!-- <div class="home-product-item__action">
                                    <span class="home-product-item__like home-product-item__like--liked">
                                        <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                        <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Đã bán 14,5k</span>
                                </div> -->
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                                <!-- <div class="home-product-item__favourite">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <div class="home-product-item__sale-off-percent">29%</div>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div> -->
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/534416f519afd5294835c6790dea2156_tn);">
                                </div>
                                <h4 class="home-product-item__name">Mũ Bucket Kaki, Nhiều Màu Phong Cách Hàn
                                    Quốc - Thời Trang MANDO PKN053</h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">129.000đ</span> -->
                                    <span class="home-product-item__price-current">99.000đ</span>
                                </div>
                                <!-- <div class="home-product-item__action">
                                    <span class="home-product-item__like home-product-item__like--liked">
                                        <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                        <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Đã bán 989</span>
                                </div> -->
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                                <!-- <div class="home-product-item__favourite">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <div class="home-product-item__sale-off-percent">23%</div>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div> -->
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/3e6738c165405a528c6cd3980657cda1_tn);">
                                </div>
                                <h4 class="home-product-item__name">Giày Da Lì Nam Cao Cấp MANDO Buộc Dây Cổ
                                    Thấp Đế Cao Chất Da PU Kiểu Dáng Công Sở Basic Thời Trang Hàn Quốc GDB26
                                </h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">450.000đ</span> -->
                                    <span class="home-product-item__price-current">449.000đ</span>
                                </div>
                                <!-- <div class="home-product-item__action">
                                    <span class="home-product-item__like home-product-item__like--liked">
                                        <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                        <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Đã bán 1,5k</span>
                                </div> -->
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                                <!-- <div class="home-product-item__favourite">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <div class="home-product-item__sale-off-percent">1%</div>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div> -->
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/84ca42e9945e587953229da7efa1b801_tn);">
                                </div>
                                <h4 class="home-product-item__name">Áo Thun Nỉ Dài Tay Cổ 3 Phân MANDO Nam
                                    Unisex Form Rộng Trơn Basic Phong Cách Hàn Quốc NDN088</h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">240.000đ</span> -->
                                    <span class="home-product-item__price-current">235.000đ</span>
                                </div>
                                <!-- <div class="home-product-item__action">
                                    <span class="home-product-item__like home-product-item__like--liked">
                                        <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                        <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Đã bán 1,7k</span>
                                </div> -->
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                                <!-- <div class="home-product-item__favourite">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <div class="home-product-item__sale-off-percent">2%</div>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div> -->
                            </a>
                        </div>
                        <!-- Product item -->
                        <div class="grid__column-2-4">
                            <a href="" class="home-product-item">
                                <div class="home-product-item__img"
                                    style="background-image: url(https://cf.shopee.vn/file/288e4f17c9b4b51b91715784c3ed7896_tn);">
                                </div>
                                <h4 class="home-product-item__name">Áo Thun Nam MANDO,Phông Tanktop Cotton Basic
                                    Unisex Xuân Hè Nam 2 Màu Xanh Trắng Phong Cách Hàn Quốc -PDN009</h4>
                                <div class="home-product-item__price">
                                    <!-- <span class="home-product-item__price-old">150.000đ</span> -->
                                    <span class="home-product-item__price-current">139.000đ</span>
                                </div>
                                <!-- <div class="home-product-item__action">
                                    <span class="home-product-item__like home-product-item__like--liked">
                                        <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                        <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                        <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Đã bán 570</span>
                                </div> -->
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Mando</span>
                                    <span class="home-product-item__origin-name">Hà Nội</span>
                                </div>
                                <!-- <div class="home-product-item__favourite">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <div class="home-product-item__sale-off-percent">7%</div>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div> -->
                            </a>
                        </div>
                    </div>
                </div>

                <!-- <ul class="pagination home-product__pagination">
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item_-icon fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item--active">
                        <a href="" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">2</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">3</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">4</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">5</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">...</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">14</a>
                    </li>

                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item_-icon fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</div>