<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanh Toán</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/styles/base.css">
    <link rel="stylesheet" href="/assets/styles/forms.css">
    <link rel="stylesheet" href="/assets/styles/toast.css">
    
    <script src="/assets/scripts/message-popup.js" defer></script>
    <script src="/assets/scripts/image-preview.js" defer></script>
    </head>
    <body>
    <main>

      <!-- <label class="alert" >Success</label> -->
      <% if(typeof message != 'undefined' && message.length > 0){ %>
        <div class="toast active">
    
          <div class="toast-content">
            <i class="fas fa-solid fa-check check"></i>
        
            <div class="message">
              <span class="text text-1"><%= message %> </span>
              <% if(message == "success"){ %> 
                <span class="text text-2">Your changes has been saved</span>
              <% }else{ %> 
                <span class="text text-2">Unknown error!!</span>
              <% } %> 
            </div>
          </div>
          <i class="fa-solid fa-xmark close"></i>
        
          <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
          <div class="progress active"></div>
        </div>
        <% } %> 
        <h1>Thêm sản phẩm</h1>
        <form method="POST"  enctype="multipart/form-data">
            <p>
              <label for="title">Tên sản phẩm</label>
              <input type="text" id="title" name="title" required>
            </p>
          
            <div id="image-upload-control">
              <p>
                <label for="image">Hình ảnh</label>
                <input type="file" id="image" name="image" accept="image/png, image/jpg" value="" required>
              </p>
          
              <img src="" alt="Selected image." >
            </div>

            <p>
              <label for="category">Loại</label>
              <select name="category" class="category">
                <% for(let i = 0; i < categories.length; i++){ %> 
                    <option value="<%= categories[i].categoryId %>" ><%- categories[i].name %></option>
              <% }%>
              </select>
            </p>
          
            <p>
              <label for="price">Giá</label>
              <input type="number" id="price" name="price" min="1000" step="1000" required>
            </p>

            <p>
              <label for="availability">Số lượng</label>
              <input type="number" id="quantity" name="quantity" min="1" step="1" required>
            </p>
          
            <p>
              <label for="description">Mô tả</label>
              <textarea id="description" name="description" rows="7" required></textarea>
            </p>
          
            <p>
              <button id="resetButton" type="reset" class="btn btn-alt" >Reset</button>
              <button class="btn" type="submit">Save</button>
            </p>
          </form>
    </main>
    </body>
</html>
